<div class="view-page">

  <div class="success-message" *ngIf='successMessage'>
    {{successMessage}}
  </div>
  
  <div class="form-group search-panel">
    <div>
      <label>Task: </label>
      <input type="text" class="form-control" style="width:300px" [(ngModel)]="searchTask">
    </div>
    <div>
      <label>Parent Task: </label>
      <input type="text" class="form-control" style="width:300px" [(ngModel)]="searchParent">
    </div>
  </div>

  <div class="form-group search-panel">
      <div>
        <label>Priority From: </label>
        <input type="number" class="form-control" style="width:100px" [(ngModel)]="searchPriorityFrom" min=0 max=30>
      </div>
      <div>
          <label>Priority To: </label>
          <input type="text" class="form-control" style="width:100px" [(ngModel)]="searchPriorityTo" min=0 max=30>
      </div>
      <div>
        <label>Start Date: </label>
        <input type="date" class="form-control" style="width:200px" data-date-format="YYYY MM DD" [(ngModel)]="searchStartDate">
      </div>
      <div>
          <label>End Date: </label>
          <input type="date" class="form-control" style="width:200px" data-date-format="YYYY MM DD" [(ngModel)]="searchEndDate">
      </div>
  </div>

  <div>
    <table class="table">
      <thead class="task-header">
        <th>Task</th>
        <th>Parent</th>
        <th>Priority</th>
        <th>Start</th>
        <th>End</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks | taskFilter:searchTask | parentTaskFilter:searchParent | priorityFilter:searchPriorityFrom | priorityToFilter:searchPriorityTo | startDateFilter:searchStartDate | endDateFilter:searchEndDate"
          class="{{(task.completed == 1) ? 'inactive' : 'active'}}">
          <td> {{ task.taskName}}</td>
          <td> {{ task.parentTask?.parentTaskName || ""}}</td>
          <td> {{ task.priority}}</td>
          <td> {{ task.startDate}}</td>
          <td> {{ task.endDate}}</td>
          <td><button class="{{(task.completed == 1) ? 'btn-light inactive' : 'btn-success'}}"
              (click)="editTask(task)">Edit</button></td>
          <td><button class="{{(task.completed == 1) ? 'btn-light inactive' : 'btn-danger'}}" (click)="endTask(task)"
              class="btn-danger">End Task</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>